@font-face {
  font-family: "standard-book";
  src: url("fonts/standard-book-webfont.woff") format("woff"),
    url("fonts/standard-book-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: white;
  text-decoration: none;
}
body {
  font-family: "standard-book", sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title {
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  width: 50%;
  text-align: center;
  top: 0px;
  height: 40px;
  font-family: "standard-book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;
}
#helix {
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  width: 50%;
  bottom: 0px;
  font-family: "standard-book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}
#grid {
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  width: 50%;
  right: 0px;
  bottom: 0px;
  font-family: "standard-book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

#right {
  cursor: pointer;
  display: none;
  z-index: 99999;
  position: fixed;
  /* width: 50%; */
  right: 30px;
  bottom: 45%;
}
#left {
  cursor: pointer;
  display: none;
  z-index: 99999;
  position: fixed;
  /* width: 50%; */
  left: 30px;
  bottom: 45%;
}
.colop {
  cursor: pointer;
  font-family: "standard-book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;
  padding-top: 3px;
  text-align: center;
  z-index: 99999;
  right: 0px;
  position: fixed;
  width: 50%;
  top: 0px;
}

.icon {
  vertical-align: 0px;
  display: inline-block;
}

.text {
  display: inline-block;
}

.sup {
  vertical-align: super;
  font-size: 14px;
}

.playlist {
  z-index: 999;
  width: 352px;
  margin: 0;
  position: fixed;
  top: 20px;
  left: 20px;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.content {
  transform: rotate(-15deg);
  color: white;
}

#colopcontent {
  position: fixed;
  right: 0px;
  z-index: 99999999;
  top: 0px;
  font-family: "standard-book", sans-serif;
  padding: 0;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: black;
  background-image: url("logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.innerbox {
  width: 100%;
  height: 50%;
  display: flex;
}

.wrap-inner {
  width: 50%;
}
p {
  letter-spacing: -0.04em;
  font-family: "standard-book", sans-serif;
  padding: 0;
  margin: 0;
}

.wrap-inner.first p {
  letter-spacing: -0.04em;
  padding: 14px 20px;
  font-size: 2vw;
}
.wrap-inner.second p {
  letter-spacing: -0.04em;
  padding: 20px 14px;
  font-size: 18px;
}
.mainbox {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.details {
  width: 300px;
  height: 424px;
  transform: translate(0px, -503px) rotateY(180deg);
}
.element {
  cursor: pointer;
  width: 300px;
  height: 424px;

  perspective: 1000px;
  transform-style: preserve-3d;
}
.closebutton {
  cursor: pointer;
  display: none;
  z-index: 99999999999;
  position: fixed;
  right: 14px;
  top: 14px;
  width: 34px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  perspective: 1000px;
  transform-style: preserve-3d;
}

/* .element:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* img{
	transform: rotateX(0deg) rotateZ(0deg) translateZ(1px);
  }
  
  .spotify{
	transform: rotateX(0deg) rotateZ(0deg) translateY(-504px) translateZ(0px);
  } */

.flip-card-front {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transform: rotateX(0deg) rotateZ(0deg) translateZ(1px);
}

.flip-card-back {
  cursor: pointer;
  transform: rotateX(0deg) rotateZ(0deg) translateY(-504px) translateZ(0px);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
iframe {
  margin-top: 0px;
}

.spotify_box {
  /* animation: fadeIn 2s; */
  transform: rotateY(180deg);
  width: 300px;
  height: 424px;
  display: block;
}
.spotify_box iframe {
  padding-top: 40px;
  display: none;
}
/* 
@keyframes fadeIn {
	from { 
	display:none;
	}
	to {
		display:block;
	}
  }
  
   */
.flip-card-back {
  /* background-color: black; */
  transform: rotateY(0deg);
}

@media screen and (min-width: 1440px) {
  .innerbox p {
    font-size: 30px;
  }
}

@media screen and (max-width: 880px) {
  #colopcontent {
    background-color: black;
    background-image: url("logo_mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
  }
  .closebutton {
    width: 20px;
    top: 20px;
  }
  #colopcontent {
    flex-direction: column;
  }

  .wrap-inner.first p {
    letter-spacing: 0em;
    padding-top: 14px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 14px;
    font-size: 16px;
    width: 85%;
  }
  .wrap-inner.second p {
    letter-spacing: -0.04em;
    padding-top: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    width: 85%;
  }

  .innerbox {
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .innerbox.top {
    height: 100%;
  }

  .wrap-inner {
    width: 100%;
  }

  .colop {
    font-size: 16px;
  }
  .title {
    font-size: 16px;
  }
  #grid {
    font-size: 16px;
  }
  #helix {
    font-size: 16px;
  }

  .colop .icon {
    width: 20px;
  }
  .icon {
    display: inline-block;
    vertical-align: 0px;
  }
  .colop .infobutton {
    padding-top: 1.5px;
  }
  .infobutton .icon {
    width: 16px;
    vertical-align: sub;
  }
  .infobutton .icon svg {
    width: 16px;
  }
  #helix .icon {
    width: 32px;
    vertical-align: -1px;
  }
  #grid .icon {
    width: 36px;
    vertical-align: -1px;
  }
  #right {
    right: 5px;
  }
  #right svg {
    width: 40px;
  }
  #left svg {
    width: 40px;
  }
  #left {
    left: 5px;
  }
  .innerbox svg {
    width: 100%;
  }
}
